*{
    background-color: rgb(53, 44, 184);
     color:rgb(238, 236, 236);
}
.vantagens{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 0px 200px;
}

h1{
    font-size: 28px;
    font-weight: 800;
  
   
}

h2{
    font-size: 22px;
}