<section class="vantagens">
<div style="padding-right: 100px;">
    <h1>A importância da vacinação para seu Pet:</h1>
    <br><br>
    <h2>
       A vacinação de animais de estimação é <span style="color: rgb(3, 10, 46);">CRUCIAL</span> para proteger 
       a saúde dos pets e também para a saúde pública.
       <br><br>
       <span>Prevenindo <span style="color: rgb(4, 7, 39);">DOENÇAS</span> infecciosas 
       graves que podem ser transmitidas entre animais e humanos</span>
    </h2>
    </div>
    <img src="/assets/dog1.png" width="750" height="420" alt="">

</section>