<header>
    <section class="app-header">
        <img src="/assets/logoclinicavet.png" width="260" height="170">
        <div>
            <nav>
                <ul class="header-li">
                    
                    <li><a href="">Por que vacinar?</a></li>
                    <li><a href="">Vacinas oferecidas</a></li>
                    <li><a href="">Quem somos</a></li>
                   
                    
                </ul>
            </nav>

        </div>
        <li class="header-li" style="gap:0; padding: 0; text-align: center;"><a routerLink="/login">Acesse sua conta</a></li>


    </section>
</header>