@import "../../../styles/variable.scss";

main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: rgb(255, 255, 255);
    
    section{
        display: flex;
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .main-section{
        gap: 8px;
        font-weight: 900;
        font-size: 22px;
        flex-grow: 1;
        background-color: $purple-bg;

    }

   
    
    .form-section{
        flex-grow: 0.3;
        padding: 0 35px;

       

        h1{
            font-size: 20px;
            font-weight: bold;
        }

        h2{
            margin-top: 0px;
            margin-bottom: 30px;
            
        }
         .gap-btn{
        width: 100%;
        gap: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

         button{
            cursor: pointer;
            width: 100%;
            border-radius: 8px;
            font-size: 15px;
            font-weight: 600;
            border: none;
            padding: 12px 24px;
            background: transparent;
            box-shadow: 0px 0px 4px rgb(59, 10, 122);
            
            &.btn-primary{
                color: white;
                background-color: $primary-color;
            }
             &.btn-secondary{
                color: $primary-color;
                border:2px solid $primary-color;
            }
        }
    }
       
    }

}