<app-header></app-header>
<main>
    <section class="headline">
        <div style="padding-right: 180px;">
            <span class="marca"> Seu <span style="color:rgb(20, 20, 83)">PET</span> merece 
            <span style="color:rgb(20, 20, 83)">TODA</span> atenção e cuidado! </span>
            <h1>
               Venha para a CuidaPet! A clinica REFERÊNCIA para a vacinação de animais,
               com profissionais qualificados!!
            </h1>
            <br><br>
            <button class="b1">Agende já a sua consulta</button>
        </div>
        <img src="/assets/vetpic.png"alt="" width="500" height="400">
    </section>
    <app-vantagens></app-vantagens>
    <app-vacina></app-vacina>
    <app-clinica></app-clinica>
</main>