*{
    background-color:rgb(50, 46, 190);
    color:rgb(238, 236, 236);
}
.clinica{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 0px 200px;
}

h1{
    font-size: 40px;
    font-weight: 800;
  
   
}

