<section class="bloco1">
    <div>
        <h1>Aqui você encontra as principais vacinas para seu pet:</h1>
        <nav>
            <ul class="vacinas">
                <li><a>Antirrábica <br><br> 😺/🐶 </a></li>
                 <li><a>V3 <br><br>😺 </a></li> 
                <li><a>V8 <br><br>🐶 </a></li> 
                <li><a>V10 <br> <br> 🐶 </a></li>
            </ul>   
        </nav>
        <div class="botao">
              <button class="b1">Agende já a sua consulta</button>
             
                
        </div>
        
      
    </div>
</section>