.bloco1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    padding: 40px 100px;
       color:   rgb(53, 44, 184);
}
.botao{
     display: flex;
    align-items: center;
    justify-content: center;
}
.vacinas{
    padding: 100px 150px;
    display: table;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    list-style: none;
    font-size: 26px;
    font-weight: 700;
}
a{
    border-width: 2px;
    border-style: outset;
    border-radius: 8px;
    border-color:  rgb(40, 76, 153);
    padding: 10px 14px;
    text-decoration: none;
    color:   rgb(53, 44, 184);
}
a:hover{
    background-color:   rgb(53, 44, 184);
    color: white;

}
ul {
    width: 950px;
    display: table;
    table-layout: fixed;
   
}
ul li {
    text-align: center;
    display: table-cell;
     padding: 0px 25px;
   
}
ul li a {
    display: block;
}
.b1{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    border-radius: 30px;
    padding: 12px;
    font-size: 24px;
    font-weight: 600;
    color: white;
    background-color:  rgb(53, 44, 184);
    cursor: pointer;
    
}

.b1:hover{
        padding:10px;
        color:  rgb(53, 44, 184);
         background-color: rgb(238, 234, 234);
         border-color:  rgb(40, 76, 153);
         border-style: outset;
         border-width: 2px;
         border-color: rgb(40, 76, 153);
    }